{% extends "OktolabRentBundle:Admin:layout.html.twig" %}

{% block content %}
    <div class="with-subtitle" id="admin-heading-container">
        <h1 class="admin-heading">Administration Console</h1>
        <p class="admin-subtitle">The Administration Console is the interface for managing and maintaining Oktolab RENT.</p>
    </div>
{% endblock %}