{% extends "OktolabRentBundle:Admin:layout.html.twig" %}

{% block content %}
    <div class="with-subtitle" id="admin-heading-container">
        <h1 class="admin-heading">{{'admin.adminConsole'|trans}}</h1>
        <p class="admin-subtitle">{{'admin.adminConsole.about'|trans}}</p>
    </div>
{% endblock %}