#
# Symfony2 related
#

# cache, logs, etc
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/web/bundles/
/web/js/
/web/css/
/web/uploads/
/web/media/

/vendor/
/build/
/bin/
/composer.phar

# environment sensitive
/app/config/parameters.yml


#
# OS garbage, Editors, IDEs, etc
#
.DS_Store
.svn
*~
*.swp
*.php~
code_coverage
coverage
.coverage
build
.build
*.db
*.tmproj
*.sublime-project
.idea
/test-results
/test-reports

# eclipse
.buildpath
.project
.settings

# netbeans
nbproject
.nbproject
