<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="decorator" content="atl.general">
        <title>{% block title %}Welcome!{% endblock %} - Oktolab RENT</title>
        <link rel="icon" type="image/x-icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />

        {% stylesheets filter='cssrewrite'
            'aui-5.1/css/aui-all.css'
            '@OktolabRentBundle/Resources/public/css/jquery.calendar.css'
            '@OktolabRentBundle/Resources/public/css/*' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% block stylesheets %}{% endblock %}
        {% block head %}{% endblock %}
    </head>

    <body class="aui-layout aui-theme-default">
        <div id="page">
            {% block page_header %}{% endblock %}
            {% block page_main %}{% endblock %}
            {% block page_footer %}{% endblock%}
        </div>

        {% javascripts
            'aui-5.1/js/aui-all.js'
            '@OktolabRentBundle/Resources/public/js/qunit-1.12.0.js'
            '@OktolabRentBundle/Resources/public/js/OktolabCalendar.js'
            '@OktolabRentBundle/Resources/public/js/OktolabCalendarTest.js'
            '@OktolabRentBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
