<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="decorator" content="atl.general">
        <title>{% block title %}Welcome!{% endblock %} - Oktolab RENT</title>
        <link rel="icon" type="image/x-icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />

        {% stylesheets filter='cssrewrite'
            'aui-5.1/css/aui-all.css'
            '@OktolabRentBundle/Resources/public/css/*' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% block stylesheets %}{% endblock %}
        {% block head %}{% endblock %}
    </head>

    <body class="aui-layout aui-theme-default">
        <div id="page">

                {% block body %}{% endblock %}


            <footer id="footer">
                <section class="footer-body">
                    <ul>
                        <li>Copyright &copy; 2013 Oktolab</li>
                        <li>Oktolab RENT pre-alpha 3.0</li>
                        <li><a href="#" id="bugtracker">Bug</a></li>
                        <li><a href="http://intern.okto.tv/display/RENT">Dokumentation</a></li>
                    </ul>
                </section>
            </footer>
        </div>

        {% javascripts
            'aui-5.1/js/aui-all.js'
            '@OktolabRentBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>