parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    rent_documentation_url: http://intern.okto.tv/display/RENT

    oktolab.hub_api_search_url:     "http://verzeichnis.okto.tv/interface.php/api/contactcardsearch"
    oktolab.hub_api_auth_url:       "http://verzeichnis.okto.tv/interface.php/api/auth"
    oktolab.hub_fetch_url:          "http://verzeichnis.okto.tv/interface.php/api/fetchdata"
    oktolab.flow_api_costunit_url:  "http://programm.okto.tv/interface.php/series/search.xml?search=*"
    oktolab.hub_redirect_url:       "http://verzeichnis.okto.tv/redirecttoid?id="
    calendar_list_setItems: false