{% extends "OktolabRentBundle::layout.html.twig" %}

{% block title 'Dashboard' %}
{% block content_header %}
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main">
            <h1>{{'generic.dashboard'|trans}}</h1>
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
                <input class="aui-date-picker text" type="text" id="calendar-input-date" />
                <button class="aui-button" id="calendar-show-date">{{'generic.show'|trans}}</button>
                <button class="aui-button" id="calendar-show-today">{{'generic.today'|trans}}</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="calendar" class="oktolab-calendar"></div>

    {#<div id="qunit"></div>
    <div id="qunit-fixture">
        <div id="qunit-calendar"></div>
    </div>#}
{% endblock %}
