{% extends "OktolabRentBundle::layout.html.twig" %}

{% block title 'Dashboard' %}
{% block content_header %}<h1>{% trans %}Dashboard{% endtrans %}</h1>{% endblock %}

{% block content %}
    <div id="dashboard-calendar"></div>
{% endblock %}
