{% extends "OktolabRentBundle::layout.html.twig" %}

{% block title 'Dashboard' %}
{% block content_header %}<h1>{% trans %}Dashboard{% endtrans %}</h1>{% endblock %}

{% block content %}

<div id="calendar" class="oktolab-calendar">
    <div class="calendar-inventory">
        <div class="calendar-inventory-group">
            <span>InventoryGroup</span>
            <ul>
                <li>Item</li>
                <li>Item</li>
                <li id="test-element">Item</li>
                <li>Item</li>
                <li>Item</li>
            </ul>
        </div>
        <div class="calendar-inventory-group">
            <span>InventoryGroup</span>
            <ul>
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
            </ul>
        </div>
        <div class="calendar-inventory-group">
            <span>InventoryGroup</span>
            <ul>
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
            </ul>
        </div>

    </div>

    <div class="calendar-wrapper"></div>
</div>

    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
{% endblock %}
