{% extends "OktolabRentBundle::layout.html.twig" %}

{% block title 'Dashboard' %}
{% block content_header %}
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main">
            <h1>{% trans %}Dashboard{% endtrans %}</h1>
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
                <button class="aui-button">Today</button>
            </div>
            <div class="aui-buttons">
                <button class="aui-button">Previous Week</button>
                <button class="aui-button">Next Week</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div id="calendar" class="oktolab-calendar">
    <div class="calendar-inventory">
        <div class="calendar-inventory-group">
            <strong>Stuff</strong>
            <ul>
                <li><a href="#">Item Foo</a></li>
                <li><a href="#">Item Bar</a></li>
                <li><a href="#">Item Baz</a></li>
                <li><a href="#" id="test-element">Item Cool</a></li>
                <li><a href="#" id="test-element2">Item Foo</a></li>
            </ul>
        </div>
        <div class="calendar-inventory-group">
            <strong>Cool Stuff</strong>
            <ul>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item Bar</a></li>
                <li><a href="#">Item</a></li>
            </ul>
        </div>
        <div class="calendar-inventory-group">
            <strong>Some more cool stuff</strong>
            <ul>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item Baz</a></li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item Foo</a></li>
                <li><a href="#">Item</a></li>
            </ul>
        </div>
    </div>

    <div class="calendar-wrapper"></div>
</div>


    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
{% endblock %}
