{% extends "OktolabRentBundle::layout.html.twig" %}

{% block title 'Dashboard' %}
{% block content_header %}<h1>{% trans %}Dashboard{% endtrans %}</h1>{% endblock %}

{% block content %}
    <div class="aui-message info">
        <span class="aui-icon aui-icon-info">Info</span>
        This screen has not been built. This is a placeholder.
    </div>
{% endblock %}
