<tr>
    <input class="hidden" type="text" id="oktolabrentbundle_event_objects___name___type" name="oktolabrentbundle_event[objects][__name__][type]" required="required" maxlength="50" />
    <input class="hidden" type="number" id="oktolabrentbundle_event_objects___name___object" name="oktolabrentbundle_event[objects][__name__][object]" required="required" />
    <td>1</td>
    <td>Name</td>
    <td>Barcode</td>
    <td>Descr</td>
    <td>X</td>
</tr>