{% extends "OktolabRentBundle::layout.html.twig" %}

{% block title 'generic.room_calendar'|trans %}
{% block content_header %}
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main">
            <h1>{{'generic.room_calendar'|trans}}</h1>
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
                <input class="aui-button" type="text" id="calendar-date" />
            </div>
            <div class="aui-buttons">
                <a class="aui-button" href="{{ path('orb_room_day_calendar') }}">
                    {{'calendar.show_room_day'|trans}}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="room-calendar" class="oktolab-calendar"></div>
{% endblock %}
