{% extends 'OktolabRentBundle:Admin:layout.html.twig' %}
{% import 'OktolabRentBundle::aui_tools.html.twig' as macro %}

{% set highlight_action = "calendar_sorting" %}

{% block content %}
    <h1 class="admin-heading">{{'calendar.sorting'|trans}}</h1>
    <p class="admin-subtitle">{{'calendar.sorting.about'|trans}}</p>

    <div class="aui-toolbar2">
        <div class="aui-toolbar2-inner">
            <div class="aui-toolbar2-primary">
                <div id="button-set1" class="aui-buttons">
                    {%block buttons%}{%endblock%}
                </div>
            </div>
        </div>
    </div>
{% endblock %}