{% if not set.available %}
    <span class="aui-lozenge aui-lozenge-error">{{ 'inventory.set.not_available'|trans}}</span>
{% else %}
    <span class="aui-lozenge aui-lozenge-success aui-lozenge-subtle">{{ 'inventory.set.available'|trans}}</span>
{% endif %}