/* =========================================================================================================================================
        OVER-RIDES
========================================================================================================================================= */
hr {
    background-color: #CCCCCC;
    border: medium none;
    color: #CCCCCC;
    height: 1px;
    margin: 40px 0;
}
hr.changelog {
    background-color: #CCCCCC;
    border: medium none;
    color: #CCCCCC;
    height: 1px;
    margin: 30px 0 -10px;
}
.aui-tabs > .tabs-pane {
    margin-top: 10px;
}
.aui-group-highlighted .aui-item p {
    background: none repeat scroll 0 0 #F5F5F5;
    margin-bottom: 10px;
    padding: 20px;
}
.lockup-item {
    float: left;
    margin-right: 40px;
}
.lockup-item:last-child {
    margin-top: -5px;
}
.lockup-item > img {
    width: 150px;
}
.aui-toolbar2 {
    margin-top: -10px;
}
li p {
    margin: 0;
}
.aui-inline-dialog .contents {
    padding: 20px;
}
.type-element {
    white-space: nowrap;
}
.aui-message {
    margin-top: 0;
}
.placeholder-box {
    background: none repeat scroll 0 0 #F5F5F5;
    padding: 20px;
}
ul ul, ol ol {
    margin: 0;
}
.example-container.narrow {
    max-width: 900px;
}
table.aui .aui-icon {
    color: #707070;
}
.list-unstyled {
    list-style: none outside none;
    padding-left: 0;
}
.aui-group > .aui-item > h4:first-child {
    margin-top: 0;
}
.aui-group.example-typography {
    margin-top: 20px;
}
.app-switcher-trigger {
    cursor: pointer;
    float: left;
    width: 36px;
}
#flatpack-app-switcher-trigger:after {
    border: 0 none;
}
.aui-header .aui-button.aui-button-primary {
    padding-top: 5px;
}
.aui-buttons > .aui-button-primary.aui-button-split-main {
    padding-top: 4px;
}
.aui-button-split-main {
    margin-right: 0 !important;
}
.aui-buttons .aui-button-split-more {
    margin-left: 0 !important;
    padding-right: 18px !important;
}
.aui-header .aui-button-primary.aui-dropdown2-trigger.aui-button-split-more.active {
    padding-right: 23px !important;
    top: 0;
}
table.aui > tbody > tr > td.adg-actions {
    padding-bottom: 0;
}
table.aui .adg-actions .aui-button.aui-dropdown2-trigger {
    padding-right: 21px !important;
}
table.aui .adg-actions .aui-button, table.aui a.aui-button, table.aui.aui-button:visited {
    height: 26px;
    line-height: inherit;
    margin-left: 5px;
    margin-top: -3px;
    padding: 2px 8px;
}
table.aui .adg-actions .aui-button.aui-button.aui-dropdown2-trigger:after {
    top: 9px;
}
table.aui .adg-actions .aui-button.aui-dropdown2-trigger:after {
    margin-left: -16px;
}
table.aui .adg-actions .aui-button.aui-dropdown2-trigger.active:first-child, table.aui .adg-actions .aui-button.aui-dropdown2-trigger.active {
    padding-bottom: 3px;
}
table.aui td.adg-actions > .aui-icon.aui-icon-small {
    margin-right: 5px;
    vertical-align: -4px;
}
table.aui .adg-actions .adg-on-hover > div.inline-actions {
    display: inline-block;
}
table.aui .adg-actions .adg-on-hover > div.inline-actions > a, table.aui .adg-on-hover > div.inline-actions > button {
    display: none;
}
table.aui tr:hover .adg-on-hover > div.inline-actions > a, table.aui tr:hover .adg-on-hover > div.inline-actions > button {
    display: inline-block;
}
.visible-icon {
    display: inline-block;
}
button .aui-icon {
    color: #707070;
}
.aui-header .aui-header-logo-adg a .aui-header-logo-device {
    background-image: url("../images/logo/logo-adg.png");
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    float: left;
    height: 24px;
    padding: 8px 0;
    text-align: left;
    text-indent: -9999px;
    width: 162px;
}
.aui-icon-container.avatar-round > img {
    border: 1px solid #CCCCCC;
    border-radius: 100% 100% 100% 100%;
    height: 16px;
    width: 16px;
}
.aui-icon-container.user-avatar-round > img {
    border-radius: 3px 3px 3px 3px;
    height: 16px;
    width: 16px;
}
.aui-button.aui-button-compact, .aui-button.aui-button-compact:visited {
    padding: 2px 5px;
}
.aui-button.aui-button-compact.aui-dropdown2-trigger.active:first-child, .aui-button.aui-button-compact.aui-dropdown2-trigger.active {
    padding-bottom: 3px;
}
table.aui > tbody > tr > td.aui-compact-button-column {
    line-height: 28px;
    padding: 3px 10px;
    vertical-align: top;
}
table .aui-button-compact {
    margin-top: 1px;
    vertical-align: top;
}
table.aui tr > td > div.inline-actions > a.aui-dropdown2-trigger, table.aui tr > td > div.inline-actions > button.aui-dropdown2-trigger {
    display: none;
}
table.aui tr:hover > td > div.inline-actions > a.aui-dropdown2-trigger, table.aui tr:hover > td > div.inline-actions > button.aui-dropdown2-trigger {
    display: inline-block;
}
.aui-page-panel {
    min-height: 370px;
}
.example-container {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    margin: 20px 0;
    padding: 20px;
}
.example-container.footer {
    background-color: #F5F5F5;
    overflow: hidden;
    padding: 10px;
}
.example-container-border {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
}
.example-container.grey {
    background-color: #F5F5F5;
    overflow: hidden;
}
.example-container > .aui-page-panel {
    margin: -21px -20px;
}
.aui-page-focused .aui-page-panel-content h2 {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.aui-page-focused .aui-page-panel-content .buttons-container {
    border-top: 1px solid #CCCCCC;
    margin-top: 20px;
    padding-top: 20px;
}
.margin-fix {
    margin-top: 50px;
}
.aui-page-header-actions .aui-progress-tracker {
    width: 400px;
}
.inverted-background {
    background: none repeat scroll 0 0 #F5F5F5;
}
.aui-item.example-inline-item {
    width: 230px;
}
.img-border {
    border: 1px solid #CCCCCC;
    margin-top: 10px;
}
.aui-lozenge-code {
    background-color: #F5F5F5;
    border-color: #CCCCCC;
    color: #333333;
    font-family: monospace;
    font-size: 12px;
    font-weight: normal;
    margin: 0 3px;
    padding: 4px;
    text-transform: none;
}
.aui-lozenge-inline {
    margin: 5px 0 0 10px;
    position: absolute;
}
.new-feature-lozenge {
    margin-left: 10px;
    position: relative;
    top: -1px;
}
.colour-palette {
    padding: 5px 45px;
}
.atlassian-blue {
    background-color: #205081;
}
.focus-blue {
    background-color: #3B73AF;
}
.link-blue {
    background-color: #3B73AF;
}
.page-white {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
}
.light-grey {
    background-color: #F5F5F5;
}
.border-grey {
    background-color: #CCCCCC;
}
.medium-grey {
    background-color: #707070;
}
.dark-grey {
    background-color: #333333;
}
.primary-highlight {
    background-color: #F5F5F5;
}
.secondary-highlight {
    background-color: #E6E6E6;
}
.default-lozenge {
    background-color: #CCCCCC;
    color: #333333;
}
.new-lozenge {
    background-color: #14892C;
    color: #FFFFFF;
}
.error-lozenge {
    background-color: #D04437;
    color: #FFFFFF;
}
.current-lozenge {
    background-color: #FFD351;
    color: #594300;
}
.done-lozenge {
    background-color: #4A6785;
    color: #FFFFFF;
}
.moved-lozenge {
    background-color: #815B3A;
    color: #FFFFFF;
}
.aui-style-default .icon-jira-bug {
    background-image: url("../images/issues/icon-jira-bug.png");
    background-size: 16px auto;
}
.aui-style-default .icon-jira-epic {
    background-image: url("../images/issues/icon-jira-epic.png");
    background-size: 16px auto;
}
.aui-style-default .icon-jira-task {
    background-image: url("../images/issues/icon-jira-requirement.png");
    background-size: 16px auto;
}
.example-thumbs {
    margin-top: 15px;
}
.example-thumbs img {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    height: 200px;
    margin-right: 20px;
    width: 230px;
}
.example-thumbs img:hover {
    border-color: #3B73AF;
}
.example-thumbs:last-child {
    margin-right: 0;
}
.fancybox-overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
}
.aui-page-header-hero .aui-lozenge {
    margin-left: 10px;
}
.aui-page-header-hero span.aui-lozenge {
    position: relative;
    top: -4px;
}
.hero-download {
    background: url("../images/home/code.png") no-repeat scroll 0 20px / 144px 166px #F5F5F5;
    border-radius: 5px 5px 5px 5px;
    height: 140px;
    padding: 20px 20px 20px 164px;
}
.hero-prototype {
    background-image: url("../images/home/prototype.png");
}
.hero-download .aui-button {
    margin-top: 10px;
}
.vision {
    font-weight: normal;
}
.no-bullets {
    list-style: none outside none;
    padding-left: 0;
}
.colours-section {
    float: left;
    margin: 10px 20px 10px 0;
    width: 100px;
}
.colours-derivative {
    float: left;
    margin: 10px 20px 0 0;
    width: 100px;
}
.colours-derivative:first-child {
    margin: 10px 20px 0 120px;
}
.colours {
    border-radius: 3px 3px 3px 3px;
    height: 80px;
    width: 80px;
}
.colours-small {
    border-radius: 3px 3px 3px 3px;
    height: 40px;
    width: 80px;
}
.colours-blue {
    background: none repeat scroll 0 0 #205081;
}
.colours-bright-blue-1 {
    background: none repeat scroll 0 0 #3B73AF;
}
.colours-charcoal {
    background: none repeat scroll 0 0 #333333;
}
.colours-light-grey {
    background: none repeat scroll 0 0 #F5F5F5;
}
.colours-white {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
}
.colours-bright-blue-2 {
    background: none repeat scroll 0 0 #3B7FC4;
}
.colours-pale-blue {
    background: none repeat scroll 0 0 #EBF2F9;
}
.colours-medium-grey {
    background: none repeat scroll 0 0 #707070;
}
.colours-green {
    background: none repeat scroll 0 0 #14892C;
}
.colours-yellow {
    background: none repeat scroll 0 0 #FFD351;
}
.colours-brown {
    background: none repeat scroll 0 0 #815B3A;
}
.colours-warm-red {
    background: none repeat scroll 0 0 #D04437;
}
.colours-blue-grey {
    background: none repeat scroll 0 0 #4A6785;
}
.colours-purple {
    background: none repeat scroll 0 0 #654982;
}
.colours-medium-blue {
    background: none repeat scroll 0 0 #CCD9EA;
}
.colours-grey {
    background: none repeat scroll 0 0 #999999;
}
.colours-button-grey {
    background: none repeat scroll 0 0 #CCCCCC;
}
.colours-border-grey {
    background: none repeat scroll 0 0 #CCCCCC;
}
.colours-highlight-grey {
    background: none repeat scroll 0 0 #E9E9E9;
}
.colours-half-green {
    background: none repeat scroll 0 0 #89C495;
}
.colours-pale-green {
    background: none repeat scroll 0 0 #F3F9F4;
    border: 1px solid #CCCCCC;
}
.colours-half-yellow {
    background: none repeat scroll 0 0 #FFE9A8;
}
.colours-pale-yellow {
    background: none repeat scroll 0 0 #FFFDF6;
    border: 1px solid #CCCCCC;
}
.colours-brown-2 {
    background: none repeat scroll 0 0 #594300;
}
.colours-half-blue-grey {
    background: none repeat scroll 0 0 #A4B3C2;
}
.colours-pale-blue-grey {
    background: none repeat scroll 0 0 #F6F7F9;
    border: 1px solid #CCCCCC;
}
.examples-section {
    float: left;
    margin: 0 20px 10px 0;
    width: 230px;
}
.example-screenshots {
    background-repeat: no-repeat;
    background-size: 100% auto;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    height: 200px;
    width: 230px;
}
.example-screenshots:last-child {
    margin: 0 0 10px;
}
.example-screenshots:hover {
    border-color: #3B73AF;
}
.example-login {
    background-image: url("../images/patterns/focused-task/example-login.png");
}
.example-form {
    background-image: url("../images/patterns/focused-task/example-form.png");
}
.example-progress {
    background-image: url("../images/patterns/focused-task/example-progress.png");
}
.example-fluid {
    background-image: url("../images/layouts/example-layout-fluid.png");
}
.example-fixed-width {
    background-image: url("../images/layouts/example-layout-fixed.png");
}
.example-hybrid {
    background-image: url("../images/layouts/example-layout-hybrid.png");
}
.example-content {
    background-image: url("../images/layouts/example-layout-contentonly.png");
}
.example-nav-content {
    background-image: url("../images/layouts/example-layout-navcontent.png");
}
.example-content-sidebar {
    background-image: url("../images/layouts/example-layout-contentsidebar.png");
}
.example-nav-content-sidebar {
    background-image: url("../images/layouts/example-layout-navcontentsidebar.png");
}
.example-focused-task {
    background-image: url("../images/layouts/example-layout-focusedtask.png");
}
.example-container .aui-progress-tracker-step {
    -moz-box-sizing: border-box;
    display: table-cell;
    max-width: 140px;
    min-width: 80px;
    padding: 0 10px;
    text-align: center;
}
.example-container .inverted {
    background: none repeat scroll 0 0 #F5F5F5;
}
ol.aui-progress-tracker {
    padding: 10px 0;
}
.aui-icon-table {
    margin-bottom: 10px;
}
#icon-font-table {
    margin-top: 20px;
}
.aui-icon-table .aui-icon {
    color: #707070;
}
.icon-size-examples {
    margin: 0 40px 0 0;
    width: 300px;
}
.icon-size-examples .aui-icon {
    color: #707070;
}
.icon-size-examples-small {
    display: inline-block;
    margin-top: 20px;
    width: 50%;
}
.icon-size-examples-large {
    display: inline-block;
}
.icon-size-examples-large .aui-icon-large {
    margin-top: -8px;
}
#reveal-text-content {
    min-height: 1.5em;
}
.example-good .aui-icon-small:before {
    font-size: 12px;
    margin-top: -6px;
    padding-left: 2px;
}
.example-good {
    color: #14892C;
}
.example-bad {
    color: #D04437;
}
.language-example-content {
    margin: 10px 0 20px 20px;
}
.language-example-content-last {
    margin: 10px 0 0 20px;
}
.language > .aui-item > .example-container {
    margin: 0;
}
.aui-group.language {
    margin-bottom: 30px;
}
.feature-discovery-example {
    height: 212px;
}
.multi-step-trigger {
    display: inline-block;
    float: right;
    line-height: 30px;
}
span.multi-step-trigger {
    color: #707070;
}
.arrow-next {
    border-bottom: 5px solid transparent;
    border-left: 5px solid #3B73AF;
    border-top: 5px solid transparent;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin-left: 5px;
    vertical-align: 5px;
    width: 0;
}
.pagination-demo {
    background: none repeat scroll 0 0 white;
}
.changelog-version {
    font-size: 14px;
}
.changelog-version:before {
    color: #CCCCCC;
    content: "•";
    padding: 0 10px 0 5px;
}
.aui-progress-bar-container {
    margin: 10px 0;
}
.example-container .demo-spinner {
    height: 64px;
    margin: 0 auto;
    width: 64px;
}
.demo-spinner > .aui-group > .aui-item > h4 {
    margin-bottom: 20px;
    text-align: center;
}
.demo-spinner .small-spinner, .demo-spinner .medium-spinner, .demo-spinner .large-spinner {
    padding-bottom: 40px;
}
