.login #main.aui-page-panel {
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px 1px #DDDDDD;
    margin: 150px auto 0;
    min-height: 120px;
    overflow: auto;
    padding: 30px;
    width: 500px;
}

.userpassword-section h2, .login-section h2, .signup-section h2 {
    border-bottom: 1px solid #DDDDDD;
    color: #333333;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.beta-ribbon-wrapper {
    height: 88px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 85px;
    z-index: 0;
    font: 15px/22.5px "Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;
}
.beta-ribbon {
    background-color: #FFEA94;
    background-image: -moz-linear-gradient(center top , #FFEA94, #FFEA5E);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    color: #6A6340;
    cursor: pointer;
    font-weight: bold;
    left: -5px;
    padding: 7px 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    top: 11px;
    transform: rotate(45deg);
    width: 120px;

}
.beta-ribbon a {
    color: #393939;
    text-decoration: none;
}

.beta-ribbon a:hover {
    text-decoration: underline;
}

/** Custom AUI Additions **/
.aui-oktolab-form-table table {
    margin-top: 0;
    max-width: 450px;
}

.aui-oktolab-form-table.viewMode table {
    max-width: inherit;
}

#title-text a {
    color: #333333;
}

#title-text a:hover, #title-text a:focus {
    text-decoration: none;
}

.smalltext {
    color: #707070;
    font-size: 12px;
}

.aui-inline-dialog {
    z-index: 5000;
}

.event-object-icons a {
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 2px;
}

.event-date {
    width: 30% !important;
    margin-right: 10px !important;
}

.event-select {
    width: 15% !important;
    margin-right: 10px !important;
}

.oktolab-calendar {
    font-size: 12px;
}