/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Oct 22, 2013, 10:56:00 AM
    Author     : meh
*/

table.inventory_set .entity_avatar, table.inventory_item .entity_avatar {
    width: 48px;
    height: 48px;
}

ul.inventory_set_items {
    list-style-type: none;
    display: inline;
}

ul.inventory_set_items li {
    float: left;

}

ul.inventory_set_items li:after {
    content: ", ";
}

ul.inventory_set_items li:last-child:after {
    content: "";
}

.entity_avatar img {
    border-radius: 50% 50% 50% 50%;
    width: 48px;
    height: 48px;
}