/*
    Document   : rent-calendar
    Created on : Jul 12, 2013, 11:09:38 AM
    Author     : meh
    Description:
        Styles the RENT-Calendar interface
*/


/* **********************************************
/* ***************** colors *********************
 ********************************************** */
.oktolab-calendar .calendar-date .calendar-day-date {
    background-color: #F5F5F5;
    border-right: 1px solid #CCCCCC;
}

.oktolab-calendar .calendar-headline {
    background-color: #205081;
    color: #FFFFFF;
}

.oktolab-calendar .calendar-inventory-group strong {
    color: #707070;
    border-top: 1px solid #CCCCCC;
}

.oktolab-calendar .calendar-event {
    background-color: #CCCCCC;
    color: #333333;
    border-color: #AAAAAA;
}

.oktolab-calendar .calendar-inventory ul li a {
    color: #3B73AF;
}

.oktolab-calendar .calendar-inventory ul li a:hover,
.oktolab-calendar .calendar-inventory ul li a:focus {
    background-color: #E6E6E6;
}

.calendar-event-description .event-controls {
    border-top: 1px solid #CCCCCC;
}

/* **********************************************
/* ************* formatting *********************
 ********************************************** */
.oktolab-calendar .calendar-headline {
    text-align: center;
}

.oktolab-calendar .calendar-headline .calendar-title {
    font-weight: bold;
}

.oktolab-calendar .calendar-inventory-group strong {
    text-transform: uppercase;
    line-height: 1.6666;
    font-size: 12px;
}

.oktolab-calendar .calendar-inventory ul li a {
    word-wrap: break-word;
    line-height: 15px;
    height: 15px;
}

.oktolab-calendar .calendar-inventory ul li a:hover, .oktolab-calendar .calendar-inventory ul li a:focus {
    text-decoration: none;
}

.oktolab-calendar .calendar-inventory li {
    list-style: none outside none;
}

.oktolab-calendar .calendar-event {
    text-align: center;
    line-height: 15px;
    cursor: pointer;
}

/* **********************************************
/* ***************** layout *********************
 ********************************************** */
.oktolab-calendar {
    width: 100%;
    margin-bottom: 2em;
}

.oktolab-calendar .calendar-inventory {
    width: 200px;
    float: left;
    position: absolute;
    padding: 34px 20px 20px;
}

.oktolab-calendar .calendar-inventory-group strong {
    margin-top: 5px;
    padding: 10px 10px 4px;
    display: block;
}

.oktolab-calendar .calendar-inventory ul li a {
    display: block;
    padding: 7px 10px;
    margin: 2px 0;
}

.oktolab-calendar .calendar-inventory ul {
    margin: 0;
    padding: 0;
}


.oktolab-calendar .calendar-wrapper {
    margin-left: 240px;
    height: 500px;

    overflow: hidden;
}

.oktolab-calendar .calendar-date {
    float: left;
    width: 170px;
    height: 100%;
    position: relative;
}

.oktolab-calendar .calendar-day-date {
    float: left;
    width: 1000px;
    height: 100%;
    position: relative;
}

.oktolab-calendar .calendar-date .calendar-day-date .calendar-title {
    display: block;
    width: 100%;
}

.oktolab-calendar .calendar-timeblock {
    float: left;
}

.oktolab-calendar .calendar-headline {
    height: 40px;
}

.oktolab-calendar .calendar-event {
    height: 13px;
    padding: 7px 0 7px 0;
    margin: 2px 0;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
}

.oktolab-calendar .calendar-event a span.aui-icon {
    float: left;
    margin-left: 5px;
}

.calendar-event-description .event-image {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 15px;
    margin-top: 3px;
}

.calendar-event-description .event-fields {
    width: 285px;
    min-height: 100px;
    margin-left: 65px;
    margin-bottom: 20px;
}

.calendar-event-description .event-field {
    margin-bottom: 0.5em;
}

.calendar-event-description .event-summary {
    margin-bottom: 1em;
}

.calendar-event-description .event-summary strong {
    width: 200px;
    display: inline-block;
}

.calendar-event-description .event-summary .aui-lozenge {
    float: right;
}

.calendar-event-description .event-objects ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.calendar-event-description .event-objects ul,
.calendar-event-description .event-objects li {
    display: inline;
}

.calendar-event-description .event-objects li:after {
    content: ", "
}

.calendar-event-description .event-objects li:last-child:after {
    content: ""
}

.calendar-event-description .event-controls {
    margin-top: 20px;
    padding-top: 20px;
}

.calendar-event-description .event-controls .buttons {
    margin-left: 65px;
}