{% extends "::base.html.twig" %}

{% block title '' %}

{% block body %}
    <header id="header" role="banner">
        <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
            <div class="aui-header-primary">
                <h1 id="logo" class="aui-header-logo aui-header-logo-aui"><a href="#"><span class="aui-header-logo-device">RENT</span></a></h1>
            </div>
            <div class="aui-header-secondary">
                <ul class="aui-nav">
                    <li><a href="#dropdown2-header7" aria-owns="dropdown2-header7" aria-haspopup="true" class="aui-dropdown2-trigger" aria-controls="dropdown2-header7"><span class="aui-icon aui-icon-small aui-iconfont-help">Help</span><span class="aui-icon-dropdown"></span></a>
                      <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" id="dropdown2-header7" style="display: none; top: 40px; min-width: 160px; left: 1213px; " aria-hidden="true">
                          <div class="aui-dropdown2-section">
                              <ul>
                                  <li><a href="http://example.com/" class="active">Online help</a></li>
                                  <li><a href="{{ path('rentbundle_about') }}">About</a></li>
                              </ul>
                          </div>
                      </div>
                    </li>
                    <li><a href="#" class="aui-nav-imagelink">Log In</a></li>
                </ul>
            </div>
        </nav>

        <br class="clear">
    </header>

    <div class="login">
        <div class=" aui-page-panel" id="main">
            <div id="login-container">
                <div class="login-section ">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
