{% extends "::base.html.twig" %}

{% block title 'Demo Bundle' %}

{% block page_header %}
        {{ include('::header.html.twig') }}
{% endblock page_header %}

{% block page_main %}
    <section id="content" role="main">
        <header class="aui-page-header">
            {% block content_header %} {% endblock %}
        </header>

        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <section class="aui-page-panel-content">
                    {% block content %}{% endblock %}
                </section>
            </div>
        </div>
    </section>
{% endblock page_main %}

{% block page_footer %}
    <footer id="footer" class="rent-footer">
        <section class="footer-body">
            <ul>
                <li>Copyright &copy; 2013 Oktolab</li>
                <li>Oktolab RENT pre-alpha 3.0</li>
                <li><a href="#" id="bugtracker">{% trans %}Bug{% endtrans %}</a></li>
                <li><a href="{{ rent_documentation_url }}">{% trans %}Documentation{% endtrans %}</a></li>
            </ul>
        </section>
    </footer>
{% endblock page_footer %}