{% extends "::base.html.twig" %}

{% block title 'Demo Bundle' %}

{% block body %}
    {{ include('::header.html.twig') }}

    <section id="content" role="main">
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-main">
                  {% block content_header %} {% endblock %}
                </div>
            </div>
        </header>

        <section id="content" role="main">
            <div class="aui-page-panel">
                <div class="aui-page-panel-inner">
                    <section class="aui-page-panel-content">
                        {% block content %}{% endblock %}
                    </section>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
