{% extends "::base.html.twig" %}

{% block title 'Demo Bundle' %}

{% block body %}
    {{ include('::header.html.twig') }}
    {# for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor #}

    {# block content_header %}
        <ul id="menu">
            {% block content_header_more %}
                <li><a href="{{ path('_demo') }}">Demo Home</a></li>
            {% endblock %}
        </ul>

        <div style="clear: both"></div>
    {% endblock #}

    <section id="content" role="main">
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-main">
                  {% block content_header %} {% endblock %}
                </div>
            </div>
        </header>

        <section id="content" role="main">
            <div class="aui-page-panel">
                <div class="aui-page-panel-inner">
                    <section class="aui-page-panel-content">
                        {% block content %}{% endblock %}
                    </section>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
